{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('forgot') }}
{% endblock %}

{% block main %}

    <main class="form-signup w-100 m-auto">
        <div class="" style="width: 30%;">
            <h1 class="h1 mb-3 fw-normal form-h">Restore password</h1>
            <span>Password reset link was sent to your  email address.</span>

            <a href="{{ path('login') }}" class="btn btn-md btn-primary form-btn">Sign Up</a>
        </div>
    </main>

{% endblock %}
